@font-face {
    font-family: "YS Text";
    font-weight: 400;
    src: url("./fonts/text-regular.woff") format("woff");
}

@font-face {
    font-family: "YS Text";
    font-weight: 500;
    src: url("./fonts/text-medium.woff") format("woff");
}

@font-face {
    font-family: "YS Text";
    font-weight: 900;
    src: url("./fonts/text-black.woff") format("woff");
}